#topBanner {
    display: flex;
    align-items: center;
    width: 100%;
}

#topBannerLogo {
    font-size: 2rem;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: "RixWhiteSans";
    font-weight: bold;
    cursor: pointer;
}

#topBannerMenuSearch, #topBannerMenuUpload {
    font-size: 1rem;
    margin-top: 15px;
    margin-left: 10px;
    font-family: "RixWhiteSans";
    font-weight: bold;
    cursor: pointer;
}